<div class="row">
  <div class="col-md-4 mx-auto mt-5">
    <a href="" class="logo-box">
      <img src="assets/images/logo.png" alt="logo de marvel">
    </a>
    <div class="card">
      <div class="card-body">
        <h2 class="text-center text-black-50">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-warning">
              <div *ngIf="email.errors.required">
                Required
              </div>
              <div *ngIf="email.errors.pattern">
                Email invalid
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password"  class="form-control"  formControlName="password"/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-warning">
              <div *ngIf="password.errors.required">
                Required
              </div>
              <div *ngIf="password.errors.minlength">
                minimum 6 digits
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="session">
              <span class="text-danger">invalid credentials!</span>
          </div>
          <button type="submit" class="btn btn-danger btn-block" [disabled]="!loginForm.valid">Enter</button>
        </form>
        <div class="form-group mt-2">
          <button class="btn btn-dark btn-block" (click)="onGoogleLogin()"><i class="fab fa-google"></i> Google</button>
        </div>
        <div class="form-group mt-2">
          <p><a [routerLink]="['/register']">Don't have an account? Create an account</a></p>
        </div>
        <div class="form-group mt-2">
          <p><a [routerLink]="['/forgot-password']">Forgot Password</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
