.avatar img{
  max-height: 500px;
  max-width: 200px;
}
.card-info{
  min-height: 200px;
  min-width: 400px;
}

.bangers{
  background-color: #F01D21;
  font-family: 'Bangers', cursive;
  color: #ffffff;
  font-size: 3em;
  padding: 15px 15px;
}
