<div class="row">
  <div class="col-md-4 mx-auto mt-5">
    <a href="" class="logo-box">
      <img src="assets/images/logo.png" alt="logo de marvel">
    </a>
    <div class="card">
      <div class="card-body">
        <h2 class="text-center text-black-50"> Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" >
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control"  formControlName="name"/>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-warning">
              <div *ngIf="name.errors.required">
                Required
              </div>
              <div *ngIf="name.errors.minlength">
                minimum 3 digits
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control"  formControlName="email"/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-warning">
              <div *ngIf="email.errors.required">
                Required
              </div>
              <div *ngIf="email.errors.pattern">
                Email invalid
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password"  class="form-control"  formControlName="password"/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-warning">
              <div *ngIf="password.errors.required">
                Required
              </div>
              <div *ngIf="password.errors.minlength">
                minimum 6 digits
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-danger btn-block" [disabled]="!registerForm.valid">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
