<div class="row">
  <div class="col-md-4 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center text-black-50"> Registrarse</h2>
        <div [formGroup]="registerForm" (ngSubmit)="onRegister()" >
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password"  class="form-control"  formControlName="password"/>
          </div>
          <button type="submit" class="btn btn-danger btn-block">Entrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
